fastapi
uvicorn[standard]
pandas
numpy
requests
beautifulsoup4
lxml
python-dotenv
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-core
groq
pydantic
httpx
tqdm
scikit-learn
rank-bm25
orjson
streamlit
ollama